.btn-custom{
    background-color: rgba(255, 0, 255);
    border-radius: 25px;
    border: none;
    color: white;
}
#logo{
    color: rgba(255, 0, 255);
    text-decoration: none;
}
.jumbotron{
    background-image:linear-gradient( rgba(255, 0, 255, 0.3), rgba(255, 0, 255, 0.3)), url("teaching.jpeg");
    color: white;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 100%;
    padding: 200px 80px;
}
.btn-learn{
    color: rgba(255, 0, 255);
    background-color: white;
    border-radius: 25px;
}
nav{
    padding: 20px;
}
.navbar-default{
    margin: 0px;
}
.dimage{
    border-radius: 20px 80px 80px 20px;
    z-index: 0;
    width: 300px;
    position: relative;
    /* margin-left: 80px; */
    margin-top: 20px;
}
.color-section{
    color: rgba(255, 0, 255);
}
.dummyd{
    border: 3px solid rgba(255, 0, 255);
    border-radius: 20px 80px 80px 20px;
    width: 250px;
    height: 200px;
    position: relative;
    z-index: 100;
    left: 40px;
    top: -220px;
}
.col-md-6{
    margin-top: 30px;
}
#features{
    text-align: center;
}
.fa{
    font-size: 300%;
}
.color-icon i{
    color: rgba(255, 0, 255);
}
.row{
    margin-top: 40px;
}
.dimage1{
    border-radius: 20px 80px 80px 20px;
    position: relative;
    /* margin-left: 20px; */
    z-index: 100;
    width: 300px;
    height: 280px;
    left: 10px;
    top: -40px;
}
.dummyd1{
    border: 3px solid rgba(255, 0, 255);
    border-radius: 20px 80px 80px 20px;
    padding: 136px 150px;
    position: absolute;
    z-index: 0;
    display: inline;
    left: 14px;
    /* position: absolute; */

}
#dashboard{
    text-align: center;
    margin-top: 40px;
}
#dashboard img{
    width: 100%;
}
#reviews{
    text-align: center;
    margin-top: 40px;
}
.img-center{
    max-width: 30%;
    position: center;
    padding: 5px;
}
.shadow-border{
    box-shadow: 0px -1px 10px 3px rgba(255,0,0,0.3);
    border-radius: 20px;
    padding: 30px;
}
#reviews .col-md-4{
    padding: 40px;
}
#signup{
    background-color: rgba(255, 0, 255);
    padding: 50px 0px 60px 0px;
    margin-top: 40px;
}
#bold-color{
    color: white;
}
.btn-padding{
    margin-top: 15px;
}
#signupform{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("teaching.jpeg");
    color: white;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;

}
.btn-signup-form{
    color: white;
    background-color: rgba(255, 0, 255);
    border: none;
    margin-top: 10px;
}
#signup-form .container{
    opacity: 100%;
}

#foot-logo{
    color: 14pxrgba(255, 0, 255);
    font-size: xx-large;
}
#hearts{
    color: rgba(255, 0, 255);
    font-size: 25px;

}
.col-md-4 i{
    padding: 10px;
    color: black;
}
#message{
    height: 100px;
}
#structure-div{
    margin-top: 20px;
}
.icon-color i{
    color: rgba(255, 0, 255);

}
.color-reviews{
    color: rgba(255, 0, 255);
}